assets/statemachine/ml-pipeline-anomalies-v2.asl.json
{
    "Comment": "State Machine for detecting and filtering anomalies",
    "StartAt": "CreateBatches",
    "States": {
      "CreateBatches": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "${LambdaSplitBatchFunctionName}"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 6,
            "BackoffRate": 2
          }
        ],
        "ResultPath": "$.batchdetail",
        "Next": "Map"
      },
      "Map": {
        "Type": "Map",
        "End": true,
        "Iterator": {
          "StartAt": "BatchAnomalyDetection",
          "States": {
            "BatchAnomalyDetection": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "Payload.$": "$",
                "FunctionName": "${LambdaAnomalyFunctionName}"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6,
                  "BackoffRate": 2
                },
                {
                  "ErrorEquals": [
                    "States.TaskFailed"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 10,
                  "MaxAttempts": 5,
                  "Comment": "database error"
                }
              ],
              "Next": "SkipThisStep_FilterOutAnomaliesFromTrainingData"
            },
            "SkipThisStep_FilterOutAnomaliesFromTrainingData": {
              "Type": "Pass",
              "End": true,
              "Comment": "delete state - do this in prepare training data"
            }
          }
        },
        "ItemsPath": "$.batchdetail.Payload"
      }
    }
  }